// Add your own CSS here!

:root {
  --light: #e8d0ed;
  --dark: #1e21e5da;
  --secondary: #284b63;
  --tertiary: #84a59d;
  --visited: #afbfc9;
  --primary: #f28482;
  --gray: #060215;
  --lightgray: #f5f1f1;
  --outlinegray: #f5f1f1;
  --million-progress-bar-color: var(--secondary);
  --highlighted: #afeff588;
}

[saved-theme="dark"] {
  --light: #600857 !important;
  --dark: #e6cae1 !important;
  --secondary: #f4fbed !important;
  --visited: #4a575e !important;
  --tertiary: #84a59d !important;
  --primary: #f58382 !important;
  --gray: #cfebf0 !important;
  --lightgray: #292633 !important;
  --outlinegray: #343434 !important;
  --highlighted: #574010;
}



